fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
langchain
langchain-core
langchain-text-splitters==1.1.2
tiktoken==0.13.0
langchain-neo4j==0.10.0
langchain-qdrant
langgraph
langsmith
qdrant-client==1.18.0
fastembed==0.8.0
py_vncorenlp==0.1.4
pyjnius==1.7.0
neo4j
beautifulsoup4
lxml
pandas
scikit-learn
httpx
pytest
